@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

/* common style start  */
.container {
  width: 75%;
  margin: 0 auto;
}
.primary-btn {
  border-radius: 8px;
  background: #e55473;
  display: inline-block;
  padding: 20px 43px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  border: none;
}
.title {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 24px;
}

.subTitle {
  color: rgba(39, 39, 39, 0.6);
  width: 594px;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 48px;
}

.sectionTitleWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* common style end */

/* banner style start  */
.banner {
  background: rgba(229, 84, 115, 0.1);
  margin-bottom: 178px;
}
.bannerWraper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bannerContent h1 {
  color: #272727;
  font-size: 80px;
  font-weight: 800;
}

.bannerContent {
  width: 710px;
}

.bannerImage {
  width: 635px;
  height: 800px;
}
.bannerContent p {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin: 32px 0px;
}
.bannerContent p {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin: 32px 0px;
}

/* banner style end */

/* features style start  */
.featuresImgWraper {
  margin-bottom: 128px;
  display: flex;
  gap: 24px;
  justify-content: space-between;
  align-items: center;
}
.singleFeature {
  width: 464px;
}
.singleFeatureImg {
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
  width: 464px;
  height: 538px;
  display: flex;
  justify-content: center;
  align-items: end;
  margin-bottom: 32px;
}
.singleFeatureText {
  color: #272727;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
  text-decoration-line: underline;
}

/* features style end  */

/* information style start  */

.informationWraper {
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  padding: 86px 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 128px;
}

.singleInfoText p {
  color: rgba(39, 39, 39, 0.8);
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 35px;
}

.singleInfo {
  width: 375px;
  text-align: center;
}

.singleInfoIcon {
  margin-bottom: 24px;
}
/* information style end */

/* hot deal style start  */
.hotDealWraper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 100px 0px;
  margin-bottom: 128px;
}

.hotDeal {
  background: rgba(229, 84, 115, 0.05);
}
/* hot deal style end */

/* showcase style start  */
.showCaseWraper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 128px;
}
/* showcase style end */

/* hot deals style start  */
.latestDealWraper {
  background-image: url('./Flower_Asset/Rectangle9.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 122px 287px;
  margin-bottom: 128px;
}
.latestDealInputForm form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.latestDealInputForm input {
  width: 100%;
  padding: 22px;
  border-radius: 8px;
  outline: none;
  border: none;
  color: rgba(39, 39, 39, 0.6);
  font-size: 16px;
  font-weight: 400;
}
/* hot deals style end */

/* footer style start  */
.footer {
  background: #111010;
}
.footerTitleWrap h2 {
  color: #ffffff;
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 24px;
}

.footerTitleWrap p {
  width: 625px;
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 32px;
}

.footerTitleWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 128px 0px;
}

.footerTitleWrap small {
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}
/* footer style end */

/* for bonus part I want to add a nav section and custom section. custom sectin means a customer can an order for his/her own wish  */

/* nav section style  */
.headerWraper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0rem;
}

ul.menu {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

ul.menu li a {
  text-decoration: none;
  color: #e55473;
  font-size: 20px;
  font-weight: 600;
}
/* nav section end */
