@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

/* common style start  */
.container {
  width: 75%;
  margin: 0 auto;
}
/* common style end */

/* banner style start  */
.banner {
  background: rgba(229, 84, 115, 0.1);
}
.bannerWraper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bannerContent h1 {
  color: #272727;
  font-size: 80px;
  font-weight: 800;
}

.bannerContent {
  width: 710px;
}

.bannerImage {
  width: 635px;
  height: 800px;
}
.bannerContent p {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin: 32px 0px;
}
.bannerContent p {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin: 32px 0px;
}

.bannerContent a {
  border-radius: 8px;
  background: #e55473;
  display: inline-block;
  padding: 20px 43px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
}

/* banner style end */
